nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0px 35px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}

#navbar li a:hover,
#navbar li a.active::after{
    color: cornflowerblue;
}
